<p class="links">
  {% if site.linkedin_link %}
    <a href="{{ site.linkedin_link }}" target="_new" title="LinkedIn" alt="LinkedIn"><i class="fa fa-linkedin"></i></a>
  {% endif %}
  {% if site.twitter_username %}
    <a href="https://www.twitter.com/{{ site.twitter_username }}" target="_new" title="Twitter" alt="Twitter"><i class="fa fa-twitter"></i></a>
  {% endif %}
  {% if site.github_username %}
    <a href="https://github.com/{{ site.github_username }}" target="_new" title="Github" alt="Github"><i class="fa fa-github-alt"></i></a>
  {% endif %}
  {% if site.speaker_deck %}
    <a href="https://speakerdeck.com/{{ site.speaker_deck }}" target="_new" title="Speaker Deck" alt="Speaker Deck"><i class="fa fa-id-card"></i></a>
  {% endif %}
  {% if site.email %}
    <a href="mailto:{{ site.email }}" target="_new" title="E-mail" alt="E-mail"><i class="fa fa-envelope"></i></a>
  {% endif %}
  <a href="{{ site.baseurl }}/feed.xml" target="_new" title="Feed RSS" alt="Feed RSS"><i class="fa fa-rss"></i></a>
</p>
